@import '../node_modules/antd-mobile/dist/antd-mobile.min.css';

.regionTip {
	height: 45px;
	line-height: 45px;
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 0 15px;
}
