@import '../node_modules/antd-mobile/dist/antd-mobile.min.css';

.regionTip {
	height: 45px;
	line-height: 45px;
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 0 15px;
}

button {
	margin: 20px;
	height: 30px;
	padding: 8px;
}

.text {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 80%;
	justify-content: center;
}

.text > span {
	font-size: 26px;
}

.tabBarIcon {
	width: 22px;
	height: 22px;
}

.tabBar {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0
}

.tabBarSelectd {
	color: #33a3f4;
}